.App {
  text-align: center;
}

* {
  box-sizing: border-box;
  margin: 30px;
  background-color: #fff;
  color: #1a1a1c;
}

.footer{
  margin-top: 35%;
  font-size:25px;
}

.price{
  font-size:30px;
}

/* On screens that are 992px or less */
@media screen and (max-width: 992px) {

  .price{
    font-size:25px;
  }

  .footer{
    font-size:20px;
  }


}

/* On screens that are 600px or less */
@media screen and (max-width: 600px) {
 
  .price{
    font-size:20px;
  }
  .footer{
    font-size:15px;
  }
}